.MuiGrid-item {
    width: 300,
}
.MuiButton-colorInherit {
    padding-top: 30px;
}
input {
    width: 42;
}
h3 {
    color: rgb(94, 92, 92);
    padding-top: 30px;
}
h5 {
    color: rgb(94, 92, 92);
    padding-top: 30px;
}
h6 {
    color: rgb(94, 92, 92);

}

.slider {
    align-self: center;
}
